name: Build iOS Beta

on: push

env:
  DERIVED_DATA_PATH: DerivedData
  GYM_CLONED_SOURCE_PACKAGES_PATH: DerivedData/SourcePackages
  FASTLANE_SKIP_UPDATE_CHECK: 1
  MATCH_READONLY: 'true'
  MATCH_GIT_URL: ${{ secrets.MATCH_GIT_URL }}

jobs:
  tests:
    runs-on: macos-10.15
    steps:
    - uses: actions/checkout@v2
    - uses: actions/cache@v1
      id: cache-bundler
      with:
        path: vendor/bundle
        key: ${{ runner.os }}-gems-${{ hashFiles('Gemfile') }}
        restore-keys: |
          ${{ runner.os }}-gems-
    - run: bundle config set path 'vendor/bundle'
    - run: bundle install
      if: steps.cache-bundler.outputs.cache-hit != 'true'
    - run: bundle exec fastlane fastlane ios beta_match
    - run: bundle exec fastlane fastlane ios set_build_number
    - run: bundle exec fastlane fastlane ios beta_build
