name: Build and Upload iOS Production

on:
  release:
    types: [published]

env:
  HOMEBREW_NO_AUTO_UPDATE: 1
  HOMEBREW_NO_INSTALL_CLEANUP: 1
  DERIVED_DATA_PATH: DerivedData
  GYM_CLONED_SOURCE_PACKAGES_PATH: DerivedData/SourcePackages
  FASTLANE_SKIP_UPDATE_CHECK: 1
  MATCH_READONLY: 'true'
  MATCH_GIT_URL: ${{ secrets.MATCH_GIT_URL }}
  MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
  MATCH_KEYCHAIN_NAME: tmp.keychain
  CERT_KEYCHAIN_NAME: tmp.keychain
  KEYCHAIN_NAME: tmp.keychain
  MATCH_KEYCHAIN_PASSWORD: tmp
  CERT_KEYCHAIN_PASSWORD: tmp
  KEYCHAIN_PASSWORD: tmp
  DELIVER_USERNAME: ${{ secrets.APPLE_ID_EMAIL }}
  FASTLANE_USER: ${{ secrets.APPLE_ID_EMAIL }}
  FASTLANE_PASSWORD: ${{ secrets.APPLE_ID_PASSWORD }}
  SLACK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}

jobs:
  build:
    runs-on: macos-10.15
    steps:
    - uses: actions/checkout@v2
    - uses: actions/cache@v1
      id: cache-bundler
      with:
        path: vendor/bundle
        key: ${{ runner.os }}-gems-${{ hashFiles('Gemfile') }}
        restore-keys: |
          ${{ runner.os }}-gems-
    - run: bundle config set path 'vendor/bundle'
    - run: bundle install
      if: steps.cache-bundler.outputs.cache-hit != 'true'
    - run: bundle exec fastlane ios create_ci_keychain
    - run: bundle exec fastlane ios release_match
      name: Release match
    - run: bundle exec fastlane ios set_build_number
      name: Set build number
    - run: bundle exec fastlane ios release_build
      name: Release build
    - run: bundle exec fastlane ios release_upload
      name: Upload app to App Store
    - run: bundle exec fastlane ios release_slack version:${{ github.event.release.tag_name }} build_number:$GITHUB_RUN_ID
      name: Notify to Slack
